.card {
    text-align: center;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    align-items: center;
    border: 2px solid rgb(10, 12, 10);
    
   
}

.center-top {
    margin: auto;
    width: 90%;
    /* padding: 10px; */
}
