body {
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
    font-family: cursive;
    color: #000;
}

.student-profile .card {
    border-radius: 10px;
    background:rgb(252, 252, 252)
}

.student-profile .card .card-header .profile_img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin: 10px auto;
    /* border-radius:40%; */
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}
#topDecks{
    background-color: rgb(102, 194, 117);
}